<%- include("partials/header.ejs")%>

<div
  class="container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
>
  <div class="col-lg-6 px-0">
    <h1 class="display-4 fst-italic">Welcome to Our Blog Hub!</h1>
    <p class="lead my-3">
      This is a space where you can read engaging blogs and contribute your own
      ideas. Whether you love writing about technology, lifestyle, business, or
      personal experiences, this is the perfect platform to share and explore.
    </p>
  </div>
</div>
<% if( blogs && blogs.length>0){%>
<div class="container">
  <% for(var i=0;i<blogs.length;i+=2){%>
    <div class="row mb-2"> 
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0"><%= blogs[i].title %></h3>
              <p class="mb-auto"><%= blogs[i].description %></p>
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
        <% if (i + 1 < blogs.length) { %>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0"><%= blogs[i + 1].title %></h3>
                <p class="mb-auto"><%= blogs[i + 1].description %></p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">Continue reading</a>
              </div>
            </div>
          </div>
    </div>
 <% }%>
<% }%>
</div>
<% } else {%>
<div class="container text-center mt-4" id="new_blog_form">
  <h3 class="mb-4">No blogs available. Start by adding a new blog!</h3>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        action="/submit"
        method="POST"
        class="p-4 border rounded shadow-sm bg-light"
      >
        <div class="mb-3">
          <label class="form-label fw-bold">New Article</label>
          <input
            type="text"
            name="title"
            class="form-control"
            required
            placeholder="Enter Title"
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Description</label>
          <textarea
            name="description"
            class="form-control"
            rows="4"
            placeholder="Write your blog description..."
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>
<%}%>
<%- include("partials/footer.ejs")%>
